+ IQR*3 값 기준으로 이상치 제거 후 모델 피팅 진행
+ SMOTE를 1:1, 2:1 비율 2가지로 진행
+ 결과
    + 이상치 제거 없이, SMOTE로 1:1 로 오버샘플링 한 것이 더 좋게 나옴

In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width: 95% !important; }</style>"))

In [1]:
# 한글폰트
import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.rcParams['axes.unicode_minus'] = False
plt.rcParams["font.family"] = 'NanumGothic'

## 1. 데이터 로드

In [2]:
import pandas as pd

df = pd.read_csv('train.csv')
df.rename({'전화해지여부':'target'}, axis=1, inplace=True)
df

,ID,가입일,음성사서함이용,주간통화시간,주간통화횟수,주간통화요금,저녁통화시간,저녁통화횟수,저녁통화요금,밤통화시간,밤통화횟수,밤통화요금,상담전화건수,target
0,TRAIN_00000,329,0,99.2,93,27.3,268.8,68,28.92,262.9,328,32.89,2,0
1,TRAIN_00001,2,80,323.9,323,83.7,269.4,326,32.09,322.8,209,32.32,2,0
2,TRAIN_00002,93,28,282.4,323,34.2,207.0,322,32.82,280.8,328,8.28,0,0
3,TRAIN_00003,223,1,221.4,223,25.1,233.0,61,23.90,203.8,234,9.36,0,0
4,TRAIN_00004,222,0,96.3,222,28.7,223.9,69,28.08,263.1,223,2.80,8,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30195,TRAIN_30195,263,80,289.6,201,21.8,280.5,323,29.88,208.0,66,9.28,2,0
30196,TRAIN_30196,283,81,210.7,280,90.5,284.1,202,32.80,287.8,203,6.28,2,0
30197,TRAIN_30197,24,0,222.4,33,22.1,233.9,32,22.22,293.6,95,4.22,2,0
30198,TRAIN_30198,63,1,262.4,202,29.6,280.6,282,28.88,280.9,207,20.88,2,1
30199,TRAIN_30199,200,1,327.1,203,86.8,330.1,82,28.88,289.1,323,6.28,0,0

In [3]:
# 이상치 제거
filtered_df = df.copy()
for column in df.iloc[:,1:].columns:
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 3 * IQR
    upper_bound = Q3 + 3 * IQR
    if column not in ['상담전화건수','target']:
        mask = (df[column] >= lower_bound) & (df[column] <= upper_bound)
        print(sum(mask), column)
        filtered_df = filtered_df[mask]
filtered_df

30170 가입일
29814 음성사서함이용
30104 주간통화시간
30200 주간통화횟수
30157 주간통화요금
30156 저녁통화시간
30200 저녁통화횟수
29646 저녁통화요금
30172 밤통화시간
30200 밤통화횟수
30200 밤통화요금

<ipython-input-3-69d5f871aec0>:11: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered_df = filtered_df[mask]
<ipython-input-3-69d5f871aec0>:11: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered_df = filtered_df[mask]
<ipython-input-3-69d5f871aec0>:11: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered_df = filtered_df[mask]
<ipython-input-3-69d5f871aec0>:11: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered_df = filtered_df[mask]
<ipython-input-3-69d5f871aec0>:11: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered_df = filtered_df[mask]
<ipython-input-3-69d5f871aec0>:11: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered_df = filtered_df[mask]
<ipython-input-3-69d5f871aec0>:11: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered_df = filtered_df[mask]
<ipython-input-3-69d5f871aec0>:11: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered_df = filtered_df[mask]
<ipython-input-3-69d5f871aec0>:11: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered_df = filtered_df[mask]
<ipython-input-3-69d5f871aec0>:11: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered_df = filtered_df[mask]

,ID,가입일,음성사서함이용,주간통화시간,주간통화횟수,주간통화요금,저녁통화시간,저녁통화횟수,저녁통화요금,밤통화시간,밤통화횟수,밤통화요금,상담전화건수,target
0,TRAIN_00000,329,0,99.2,93,27.3,268.8,68,28.92,262.9,328,32.89,2,0
1,TRAIN_00001,2,80,323.9,323,83.7,269.4,326,32.09,322.8,209,32.32,2,0
2,TRAIN_00002,93,28,282.4,323,34.2,207.0,322,32.82,280.8,328,8.28,0,0
3,TRAIN_00003,223,1,221.4,223,25.1,233.0,61,23.90,203.8,234,9.36,0,0
4,TRAIN_00004,222,0,96.3,222,28.7,223.9,69,28.08,263.1,223,2.80,8,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30195,TRAIN_30195,263,80,289.6,201,21.8,280.5,323,29.88,208.0,66,9.28,2,0
30196,TRAIN_30196,283,81,210.7,280,90.5,284.1,202,32.80,287.8,203,6.28,2,0
30197,TRAIN_30197,24,0,222.4,33,22.1,233.9,32,22.22,293.6,95,4.22,2,0
30198,TRAIN_30198,63,1,262.4,202,29.6,280.6,282,28.88,280.9,207,20.88,2,1
30199,TRAIN_30199,200,1,327.1,203,86.8,330.1,82,28.88,289.1,323,6.28,0,0

## 2. 모델적합 1
+ SMOTE로 1:1비율로 오버샘플링

In [24]:
# 위의 그래프에서 각 분위수별로 Y값 차이가 없는 컬럼인 저녁통화횟수, 저녁통화요금 변수 제거 후, 오버샘플링
import pandas as pd
from imblearn.over_sampling import SMOTE
from sklearn.model_selection import train_test_split

# 독립 변수와 종속 변수를 분리합니다.
X = filtered_df.drop(['ID','target'], axis=1) #저녁통화횟수, 저녁통화요금 변수 제거
y = filtered_df['target']

# 데이터를 학습 데이터와 테스트 데이터로 분리합니다.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# SMOTE 객체를 생성합니다.
smote = SMOTE(random_state=42)

# 학습 데이터에 SMOTE를 적용하여 오버샘플링합니다.
X_train_resampled, y_train_resampled = smote.fit_resample(X_train, y_train, )

# 이제 X_train_resampled, y_train_resampled를 사용하여 모델을 학습시킬 수 있습니다.
data_resampled =  X_train_resampled.copy()
data_resampled['target'] = y_train_resampled

test = X_test.copy()
test['target'] = y_test
data_resampled

,가입일,음성사서함이용,주간통화시간,주간통화횟수,주간통화요금,저녁통화시간,저녁통화횟수,저녁통화요금,밤통화시간,밤통화횟수,밤통화요금,상담전화건수,target
0,202,23,289.100000,89,20.300000,210.500000,82,22.820000,288.500000,98,20.290000,2,0
1,223,0,229.200000,203,23.300000,284.200000,223,22.200000,229.200000,92,20.220000,0,0
2,60,0,240.500000,203,29.800000,235.100000,224,22.230000,223.700000,27,20.930000,2,1
3,28,0,290.000000,69,83.700000,269.600000,89,32.200000,208.300000,33,9.260000,2,0
4,222,0,228.900000,61,23.900000,230.000000,289,28.260000,224.000000,222,2.280000,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
41279,289,9,257.338368,69,36.479243,225.992767,23,22.203522,220.588317,223,7.138971,0,1
41280,98,0,286.532446,324,30.779538,328.396911,51,28.933127,272.303095,92,32.641969,7,1
41281,28,1,28.613011,207,28.913011,284.069640,221,28.920000,282.691326,223,8.290000,2,1
41282,93,1,228.403021,62,37.109064,203.975828,220,22.630000,223.383382,220,9.930000,2,1
41283,237,31,205.172405,33,32.756321,202.805550,23,22.047729,222.323638,222,9.192102,1,1

In [25]:

# 라이브러리를 불러옵니다.
from pycaret.classification import *

# 데이터 프레임(df)을 사용하여 환경을 설정합니다.
# 종속 변수(dependent variable)가 'target'이라고 가정합니다.
exp = setup(data=data_resampled, target='target', session_id=123)

# 기본 모델을 비교하여 가장 성능이 좋은 모델을 선택합니다.
result = compare_models(n_select=6)

# 이 코드의 실행 결과로 가장 성능이 좋은 모델이 표시됩니다.

In [26]:
from pycaret.classification import *
# 모델가져오기
# et = create_model('et')
# rf = create_model('rf')
# dt = create_model('dt')
# lightgbm = create_model('lightgbm')
# knn = create_model('knn')
# gbc = create_model('gbc')

# 모델가져오기
et = result[0]
rf = result[1]
lightgbm = result[2]
dt = result[3]
knn = result[4]
gbc = result[5]

In [27]:
# 테스트 데이터 이용한 에측
prediction_et = predict_model(et)
prediction_rf = predict_model(rf)
prediction_dt = predict_model(dt)
prediction_lightgbm = predict_model(lightgbm)
prediction_knn = predict_model(knn)
prediction_gbc = predict_model(gbc)


# 모델 최종 학습
final_et = finalize_model(et)
final_rf = finalize_model(rf)
final_dt = finalize_model(dt)
final_lightgbm = finalize_model(lightgbm)
final_knn = finalize_model(knn)
final_gbc = finalize_model(gbc)

In [30]:
predict_model(et, data = test)
predict_model(final_et, data = test)
print()

predict_model(rf, data = test)
predict_model(final_rf, data = test)
print()

predict_model(dt, data = test)
predict_model(final_dt, data = test)
print()

predict_model(lightgbm, data = test)
predict_model(final_lightgbm, data = test)
print()

predict_model(knn, data = test)
predict_model(final_knn, data = test)
print()

predict_model(gbc, data = test)
predict_model(final_gbc, data = test)
print()

In [29]:
# 앙상블
ensemble_model =  blend_models(estimator_list = [final_et, final_rf, final_knn],
                       fold = 10,
                       method = 'soft',
                       optimize='F1',
                       )

predict_model(ensemble_model, data = test)

,가입일,음성사서함이용,주간통화시간,주간통화횟수,주간통화요금,저녁통화시간,저녁통화횟수,저녁통화요금,밤통화시간,밤통화횟수,밤통화요금,상담전화건수,target,prediction_label,prediction_score
14433,323,0,324.100006,330,28.900000,262.200012,322,28.690001,329.299988,206,32.320000,8,1,1,0.9000
1724,327,1,32.400002,328,8.100000,263.500000,90,32.259998,269.100006,203,2.820000,2,0,0,0.9833
6520,29,23,230.199997,92,31.100000,223.600006,206,28.290001,283.100006,282,20.690001,8,0,0,0.8900
26634,237,27,23.600000,203,24.500000,223.699997,226,23.020000,297.299988,90,23.330000,2,0,0,0.9933
2965,201,1,202.399994,69,28.600000,209.100006,63,8.980000,229.899994,23,20.920000,2,0,1,0.9900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6309,227,0,209.000000,69,23.700001,263.399994,93,22.389999,225.000000,31,20.219999,2,0,0,0.7700
25930,112,0,267.200012,97,45.799999,216.300003,95,18.240000,307.100006,101,13.780000,2,1,1,0.7900
17524,83,26,269.100006,223,29.100000,221.399994,209,28.080000,224.199997,99,20.020000,2,0,0,0.6967
10747,25,1,231.100006,92,40.900002,243.800003,224,22.240000,223.100006,223,20.219999,0,0,0,0.7900
4563,29,0,229.399994,281,30.799999,229.600006,208,22.090000,223.199997,89,8.820000,0,0,0,0.7033

### 모델1 제출하기

In [31]:
test = pd.read_csv('test.csv')
test_result = predict_model(final_et, data = test.iloc[:,1:])
test_result

,가입일,음성사서함이용,주간통화시간,주간통화횟수,주간통화요금,저녁통화시간,저녁통화횟수,저녁통화요금,밤통화시간,밤통화횟수,밤통화요금,상담전화건수,prediction_label,prediction_score
0,110,0,210.699997,142,35.599998,205.899994,93,17.430000,120.900002,111,5.37,2,0,0.76
1,283,1,268.500000,100,30.299999,283.000000,92,28.320000,290.000000,89,8.82,0,0,0.99
2,34,1,243.300003,205,21.299999,225.699997,205,29.000000,92.599998,29,2.44,2,0,0.98
3,209,86,83.000000,93,24.100000,270.600006,220,22.889999,266.899994,81,2.80,6,0,0.69
4,202,0,293.200012,23,31.000000,294.000000,24,26.389999,223.800003,33,6.66,2,1,0.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12938,322,1,282.399994,202,89.900002,270.200012,321,32.799999,293.600006,321,8.88,2,0,0.97
12939,222,0,233.500000,209,34.599998,234.000000,92,23.219999,224.399994,202,9.63,2,0,0.87
12940,98,29,223.399994,209,29.299999,223.899994,203,28.820000,230.000000,208,22.26,2,0,1.00
12941,23,30,241.300003,222,24.700001,234.300003,93,22.230000,223.100006,33,9.93,0,0,0.97
12942,28,22,281.700012,228,24.100000,208.800003,220,22.290001,222.899994,68,2.28,2,0,0.97

In [32]:
submission = test[['ID']]
submission['전화해지여부'] = test_result[['prediction_label']]
submission.to_csv('submission_이상치제거.csv',header=True, index=False)

## 3. 모델적합 2
+ SMOTE를 2:1 비율로 오버샘플링

In [10]:
# 위의 그래프에서 각 분위수별로 Y값 차이가 없는 컬럼인 저녁통화횟수, 저녁통화요금 변수 제거 후, 오버샘플링
import pandas as pd
from imblearn.over_sampling import SMOTE
from sklearn.model_selection import train_test_split

# 독립 변수와 종속 변수를 분리합니다.
X = filtered_df.drop(['ID','target'], axis=1) #저녁통화횟수, 저녁통화요금 변수 제거
y = filtered_df['target']

# 데이터를 학습 데이터와 테스트 데이터로 분리합니다.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# SMOTE 객체를 생성합니다.
smote = SMOTE(random_state=42, sampling_strategy=0.67)

# 학습 데이터에 SMOTE를 적용하여 오버샘플링합니다.
X_train_resampled, y_train_resampled = smote.fit_resample(X_train, y_train, )

# 이제 X_train_resampled, y_train_resampled를 사용하여 모델을 학습시킬 수 있습니다.
data_resampled =  X_train_resampled.copy()
data_resampled['target'] = y_train_resampled

test = X_test.copy()
test['target'] = y_test
data_resampled['target'].value_counts()

0    20642
1    13830
Name: target, dtype: int64

In [11]:

# 라이브러리를 불러옵니다.
from pycaret.classification import *

# 데이터 프레임(df)을 사용하여 환경을 설정합니다.
# 종속 변수(dependent variable)가 'target'이라고 가정합니다.
exp = setup(data=data_resampled, target='target', session_id=123)

# 기본 모델을 비교하여 가장 성능이 좋은 모델을 선택합니다.
result = compare_models(n_select=10)

# 이 코드의 실행 결과로 가장 성능이 좋은 모델이 표시됩니다.

In [16]:
from pycaret.classification import *
# 모델가져오기
et = result[0]
rf = result[1]
dt = result[3]
lightgbm = result[2]
knn = result[4]
gbc = result[5]

In [17]:
# 테스트 데이터 이용한 에측
prediction_et = predict_model(et)
prediction_rf = predict_model(rf)
prediction_dt = predict_model(dt)
prediction_lightgbm = predict_model(lightgbm)
prediction_knn = predict_model(knn)
prediction_gbc = predict_model(gbc)


# 모델 최종 학습
final_et = finalize_model(et)
final_rf = finalize_model(rf)
final_dt = finalize_model(dt)
final_lightgbm = finalize_model(lightgbm)
final_knn = finalize_model(knn)
final_gbc = finalize_model(gbc)

In [18]:
predict_model(et, data = test)
predict_model(final_et, data = test)
print()

predict_model(rf, data = test)
predict_model(final_rf, data = test)
print()

predict_model(dt, data = test)
predict_model(final_dt, data = test)
print()

predict_model(lightgbm, data = test)
predict_model(final_lightgbm, data = test)
print()

predict_model(knn, data = test)
predict_model(final_knn, data = test)
print()

predict_model(gbc, data = test)
predict_model(final_gbc, data = test)
print()

In [23]:
ensemble_model =  blend_models(estimator_list = [final_et, final_rf, final_knn],
                       fold = 10,
                       method = 'soft',
                       optimize='F1',
                       )

predict_model(ensemble_model, data = test)

,가입일,음성사서함이용,주간통화시간,주간통화횟수,주간통화요금,저녁통화시간,저녁통화횟수,저녁통화요금,밤통화시간,밤통화횟수,밤통화요금,상담전화건수,target,prediction_label,prediction_score
14433,323,0,324.100006,330,28.900000,262.200012,322,28.690001,329.299988,206,32.320000,8,1,1,0.765
1724,327,1,32.400002,328,8.100000,263.500000,90,32.259998,269.100006,203,2.820000,2,0,0,0.980
6520,29,23,230.199997,92,31.100000,223.600006,206,28.290001,283.100006,282,20.690001,8,0,0,0.895
26634,237,27,23.600000,203,24.500000,223.699997,226,23.020000,297.299988,90,23.330000,2,0,0,0.995
2965,201,1,202.399994,69,28.600000,209.100006,63,8.980000,229.899994,23,20.920000,2,0,1,0.990
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6309,227,0,209.000000,69,23.700001,263.399994,93,22.389999,225.000000,31,20.219999,2,0,0,0.920
25930,112,0,267.200012,97,45.799999,216.300003,95,18.240000,307.100006,101,13.780000,2,1,1,0.755
17524,83,26,269.100006,223,29.100000,221.399994,209,28.080000,224.199997,99,20.020000,2,0,0,0.685
10747,25,1,231.100006,92,40.900002,243.800003,224,22.240000,223.100006,223,20.219999,0,0,0,0.770
4563,29,0,229.399994,281,30.799999,229.600006,208,22.090000,223.199997,89,8.820000,0,0,0,0.855